
.page {
	font-size: 18px;
	background: white;
}

h1 {
	height: 100px;
	text-align: center;
	background: url('../res/king-dash.png');
	background-size: 80% 60px;
	background-repeat: no-repeat;
	background-position-x: 100px;
	background-position-y: 40px;
}

h2 {
/*	height: 70px;*/
	text-align: center;
/*	background: url('../res/star-dash.png');*/
/*	background-size: 80% 25px;*/
/*	background-repeat: no-repeat;*/
/*	background-position-x: 100px;*/
/*	background-position-y: 40px;*/
}

hr {
	height: 30px;
	background: url('../res/star-dash.png');
	background-size: 80% 25px;
	background-repeat: no-repeat;
	background-position-x: 100px;
	background-position-y: 0;
	border: 0;
	margin: 40px 0;
}

a {
	color: #444444;
	font-weight: bold;
}

#page {
	width: 1000px;
	margin: auto;
}

#main-photo {
	width: 600px;
	border-radius: 10px;
}

#header {
	width: 1000px;
}

#footer {
	color: white;
	margin: auto;
	padding: 10px;
	text-align: center;
	background: #444444;
}

#logo-cover {
	background: white;
	position: fixed;
	margin-left: 64px;
	margin-top: 16px;
	width: 150px;
	height: 50px;
	z-index: 2;
	
	text-align: center;
	font-size: 22px;
	font-family: Courier;
	color: #444444; //#2299DD;
}

.useful-links {
	border: solid 1px #444444;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-family: Courier;
	color: #444444;
}

.goto {
	position: relative;
	top: -80px;
}

.header-button {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #444444;
	margin: 10px;
}

.header-button-selector {
	background: #AAAAAA;
	width: 100%;
	height: 4px;
}

.pane-left {
	margin-right: 20px;
}

.pane-right {
	margin-left: 20px;
}

.left-bar {
	border-left: solid 1px #444444;
	padding-left: 20px;
}

.tag {
	font-size: 16px;
	background: rgba(85, 153, 255, 0.8);
	color: white;
	padding: 4px;
	border-radius: 5px;
	vertical-align: top;
}
