
:root {
	--page-width: 1000px;
	--main-color: #444444;
	--link-color: #444444;
	font-size: 18px;
}

p {
	font-size: 18px;
}

h1 {
	height: 100px;
	text-align: center;
	background: url('res/king-dash.png');
	background-size: 80% 60px;
	background-repeat: no-repeat;
	background-position-x: calc(var(--page-width) / 10);
	background-position-y: 40px;
}

h2 {
/*	height: 70px;*/
	text-align: center;
/*	background: url('../res/star-dash.png');*/
/*	background-size: 80% 25px;*/
/*	background-repeat: no-repeat;*/
/*	background-position-x: calc(var(--page-width) / 10);*/
/*	background-position-y: 40px;*/
}

hr {
	height: 30px;
	background: url('../res/star-dash.png');
	background-size: 80% 25px;
	background-repeat: no-repeat;
	background-position-x: calc(var(--page-width) / 10);
	background-position-y: 0;
	border: 0;
	margin: 40px 0;
}

a {
	color: var(--link-color);
	font-weight: bold;
}

#page {
	width: var(--page-width);
	margin: auto;
}

#main-photo {
	width: calc(0.6 * var(--page-width));
	border-radius: 10px;
}

#header {
	width: var(--page-width);
}

#footer {
	color: white;
	margin: auto;
	padding: 10px;
	text-align: center;
	background: var(--main-color);
}

#logo-cover {
	background: white;
	position: fixed;
	margin-left: 64px;
	margin-top: 16px;
	width: 150px;
	height: 50px;
	z-index: 2;
	
	text-align: center;
	font-size: 22px;
	font-family: Courier;
	color: var(--main-color); //#2299DD;
}

.useful-links {
	border: solid 1px var(--main-color);
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-family: Courier;
	color: var(--main-color);
}

.goto {
	position: relative;
	top: -80px;
}

.header-button {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #444444;
	margin: 10px;
}

.header-button-selector {
	background: #AAAAAA;
	width: 100%;
	height: 4px;
}

.pane-left {
	margin-right: 20px;
}

.pane-right {
	margin-left: 20px;
}

.left-bar {
	border-left: solid 1px var(--main-color);
	padding-left: 20px;
}
