
@import url(style.css);

p {
	font-size: 24px;
}

#timeline {
	height: 300px;
}

#timeline-title {
	font-size: 32px;
	margin: 100px 0 0 0;
}

.axis {
	margin-top: -21px;
}

.time-table {
/* 	background: gold; */
	margin-left: 160px;
	margin-top: -150px;
	height: 300px;
}

.label-wrapper {
	margin-top: -120px;
	width: 300px;
	height: 100px;
}

.label {
	width: 300px;
	height: 100px;
	font-size: 24px;
}

.tooltip-wrapper {
	margin-top: -200px;
	height: 100px;
}

.tooltip {
	font-size: 24px;
}

.dot {
	margin-top: 140px;
	margin-left: 145px;
}
